/* Adding styles for the image */
img {
    border-radius: 25%;
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 0 auto;

}

/* Adding styles for the header */
 h1 {
    color: white;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
h2 {
    color:white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    color:white;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 175%;
}

/*Adding map styles (also using flexbox) */
.parent{
    display: flex;
    justify-content: center;
}

.parent1{
    display: flex;
    justify-content: center;
}

.map {
    position:auto;
    width:1000px;
    height:500px;
}

.map1 {
    position:auto;
    width:1000px;
    height:500px;
}

/* Adding styles for body */
body {
    background-color: black;
}

/* Adding styles for the navigation bar */
.upNavigation {
    background-color: black;
    overflow: auto;
    width: 250px;
}

.upNavigation a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    width: 25%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.upNavigation a:hover {
    background-color: grey;
    color:black;
}

.upNavigation a.active {
    color:white;
}

/* Changing the global font of the html webpage */
html * {
    scroll-behavior: smooth;
}

/*Styling the button */
.button {
   border:none;
   background-color: inherit;
   cursor: pointer;

}

.button:hover {background:grey;}